<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<h2 >Producto subido por: <a class="subido-por" href="/users/id/<%= info.usuario.id %>"><%= info.usuario.nombre_usuario %></a></h2>
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= info.nombre %></h2> 
			<p class="product-detail-description">
				<% if (locals.Usuario != undefined && locals.Usuario.id == info.usuario.id) { %>
					<form action="/productos/delete/id/<%= info.id %>" method="POST" class="deleteButton">
						<!-- <button><a href="/productos/edit/id/">Editar</a></button> -->
						<button type="submit">Eliminar</button>
						<input type="hidden" name="usuarioId" value="<% info.usuario.id %>">
					</form>	
					<form action="/productos/edit/id/<%= info.id %>" method="POST">
						<button type="'submit">Editar</button>
						
					</form>	
				<% } %>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= info.foto %>" alt="<%= info.nombre %>" class="product-detail-img">
					<p class="product-detail-description"> <%= info.descripcion %> </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments"> 
						<% for (let i = 0; i < info.comentarios.length; i++){ %>
							<article>
								<img src="<%= info.comentarios[i].usuario.foto_perfil  %>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/id/<%= info.comentarios[i].usuario.id %>"> <%= info.comentarios[i].usuario.nombre_usuario  %> </a> </strong>
									<%= info.comentarios[i].comentario  %></p>
								</div>
							</article>
						<% } %>

					</section>
					<form class="form-comentario" action="/productos/comentar/id/<%= info.id %>" method="POST">
						<input class="comentario" type="text" name="comentario" value="" placeholder="Agregar comentario">
						<br>
						<br>
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>