<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= info.nombre %> </h2> 
			<p class="product-detail-description">
				<% if (locals.Usuario != undefined && locals.Usuario.id == info.usuario.id) { %>
					<a href="/productos/edit/id/<%= info.id %>">Editar</a>
					<a href="/productos/delete">Borrar</a>
				<% } %>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= info.foto %>" alt="<%= info.nombre %>" class="product-detail-img">
					<p class="product-detail-description"> <%= info.descripcion %> </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments"> 
						<% for (let i = 0; i < info.comentarios.length; i++){ %>
							<article>
								<img src="<%= info.comentarios[i].usuario.foto_perfil  %>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/id/<%= info.comentarios[i].usuario.id %>"> <%= info.comentarios[i].usuario.nombre_usuario  %> </a> </strong>
									<%= info.comentarios[i].comentario  %></p>
								</div>
							</article>
						<% } %>

					</section>
					<form class="form" action="/productos/comentar/id/<%= info.id %>" method="POST">
						<input class="form-input" type="text" name="comentario" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>