<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	<% if (locals.errors) { %>
		<p class="errorMsj"> <%= locals.errors.message %> </p>
	<% } %>
	<!-- Divs y h1 -->
	<div class="container products-wrapper">
		<div class="row">

			<!-- Formulario de edit de perfil -->
					<div class="col-12">
						<h2 class="title">Editar Perfil de <%= info.nombre %></h2>
					</div>
					<form action="/users/edit/id/<%= info.id %>" method="POST" class="form">
						
						<label>Email: </label>
						<input type="email" name="email" value="<%= info.email %>">
						
						<br>
						<br>
						
						<label>Nueva contraseña (opcional): </label>
						<input type="password" name="password">
						
						<br>
						<br>
				
						<label>Usuario: </label>
						<input type="text" name="usuario" value="<%= info.nombre %>">
						
						<br>
						<br>

						<label>Fecha de Nacimiento: </label>
						<input type="date" name="fecha"  value="<%= info.fecha %>">
						
						<br>
						<br>
						
						<label>Numero de Documento: </label>
						<input type="number" name="dni"  value="<%= info.dni %>">
						
						<br>
						<br>
						
						<label>Foto de Perfil: </label>
						<input type="text" name="foto"  value="<%= info.foto %>">
						
						<br>
						<br>

						<button class= "button" type="submit">Enviar</button>
				
					</form>
		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>