<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	<% if (locals.errors) { %>
		<p class="errorMsj"> <%= locals.errors.message %> </p>
	<% } %>
	<!-- Divs y h1 -->
	<div class="container products-wrapper">
		<div class="row">
			

			<!-- Formulario con opciones a editar -->
			<% if (mostrar == true){%>
			<div class="col-12">
				<h2 class="title"><%= info.nombre %></h2>
			</div>
			<form action="" method="POST" class="form">
				<label>Elegí la opcion que deseas Editar</label>
				<br>
				<button class= 'button' type="submit" name="opcion" value="editar"> <a href="/users/edit/id">Editar perfil</a></button>
				<br>
				<button class= 'button' type="submit" name="opcion" value="cambiar"> Cambiar contraseña</button>
			</form>
			<% } else {%>

			<!-- Formulario de edit de perfil -->
				<% if (form.opcion === 'editar') {%>
					<div class="col-12">
						<h2 class="title">Editar Perfil de <%= info.nombre %></h2>
					</div>
					<form action="" method="POST" class="form">
						
						<label>Email: </label>
						<input type="email" name="email" value="<%= info.email %>">
						<br>
						<br>
				
						<label>Usuario: </label>
						<input type="text" name="usuario" value="<%= info.nombre %>">
						
						<br>
						<br>

						<label>Fecha de Nacimiento: </label>
						<input type="date" name="fechaNacimiento"  value="<%= info.fecha %>">
						
						<br>
						<br>
						
						<label>Numero de Documento: </label>
						<input type="number" name="dni"  value="<%= info.dni %>">
						
						<br>
						<br>
						
						<label>Foto de Perfil: </label>
						<input type="text" name="fotoPerfil"  value="<%= info.foto %>">
						
						<br>
						<br>

						<button class= "button" type="submit">Enviar</button>
				
					</form>
					<!-- Formulario de camnbio de contraseña -->
				<% } else if (form.opcion === 'cambiar') { %>
					<div class="col-12">
						<h2 class="title">Cambiar contraseña de <%= info.nombre %></h2>
					</div>
					<form action="/users/edit/id/<% info.id %>/ok" method="POST" class="form">

						<label>Contraseña anterior: </label>
						<input type="password" name="pass">
						
						<br>
						<br>
						
						<label>Nueva contraseña: </label>
						<input type="password" name="newPass">
						
						<br>
						<br>

						<button class= "button" type="submit">Enviar</button>
				
					</form>
				<% } %>
			<% } %>
		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>