<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda: <%= palabraBuscada %></h2>
			</div>
			<% for (let i = 0; i < busqueda.length; i++){ %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/id/<%= busqueda[i].id %>">
							<figure class="product-box_image">
								<img src=" <%= busqueda[i].foto %> " alt=" <%= busqueda[i].nombre %> ">
							</figure>
							<article class="product-box_data">
								<h2> <%= busqueda[i].nombre %> </h2>
								<p> <%= busqueda[i].descripcion %> </p>
								<p>Comentarios: 12</p>
							</article>
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
			<!-- Show the "ultimos" products -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>